@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

/* Remove all margin and padding values */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Fill space */
html, body { width:100%; height:100%; }

/* Set up defaults for page */
body {
  background-color: #F8F8F8;
  font-family: 'PT Sans Narrow', 'Open Sans', sans-serif;
  font-size: 18px;
}

/* Canvas block to stop scroll bars appearing */
canvas { display:block; }

/* Use auto margins to centre play area */
.playArea {
  margin-left: auto;
  margin-right: auto;
}
